.Contacts_with_us{
    margin-bottom: 80px;
    width: 700px;
    min-height: 595px;
    margin-top: 49px;
    color: #FFF;
    padding: 54px;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
}
.logos{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.annaniks_logo{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;
    background-image: url("./../img/annaniks_logo.svg");
    width: 150px;
    height: 150px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat
}
.hh_logo{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;
    background-image: url("./../img/hh_logo.png");
    width: 150px;
    height: 150px;
    background-position: center;
    background-size: contain;
	background-repeat: no-repeat;
}
.company_name{
	position: absolute;
	width: 300px;
	text-align: center;
	align-self: center;
	margin-top:40px;
	bottom: -30px
}