.footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #183441;
    padding: 58px 0 234px 0;
    -webkit-box-shadow: 0px -15px 25px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -15px 25px 0px rgba(0,0,0,0.75);
box-shadow: 0px -15px 25px 0px rgba(0,0,0,0.75);
z-index: 1;
}
.footer-inside{
    width: 80%;
    display: flex;
}

.footer-links{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.col{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #FFEE00;
    line-height: 27px;
    font-weight: bold;
}
.footer-logo{
    width: 121px;
  height: 122px;
  object-fit: contain;
  margin-right: 94px;
}
.col span{

}
@media only screen and (max-width: 1366px){

}
@media only screen and (max-width: 1280px){
    .col{
        margin-bottom: 35px;
    }
}
@media only screen and (max-width: 768px){
    .col{
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
    }
    .footer-inside {
        display: flex;
        justify-content: space-around;
        width: 80%;
    }
    .footer-logo{
        width: 68px;
        height: 68px;
    }
}
@media only screen and (max-width: 425px) {
 .footer-logo{
    width: 43px;
    height: 43px;
    
 }
 .footer-inside-links{
     flex-direction: column;
    
 }
 .col {
    font-size: 12px;
    font-weight: bold;
    line-height: 1.33;
 }
 .footer-inside {
    display: flex;
}
}