.Header{
    width: 100%;
    display: flex;
   justify-content: center;
    background-color: #072D3B;
}

.top{
    margin-top: 29px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
.top-right a{
    color: #072D3B;
}
.search-top{
    display: none; 
    flex: 1;
}
.search-top input{
    padding: 13px 0 13px 24px;
    height: 100%;
    border: 0;
    height: 100%;
    margin: 0;
    padding-left: 62px;
    border-radius: 0;
    width: calc( 97% - 62px );
    object-fit: contain;
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.4);
    background-color: #284f5d;
    object-fit: contain;
    font-family: SegoeUI;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
}
.top-search-icon img{
    width:20px ;
    height:20px ;
}
.top-search-icon{
    padding: 9.6px 10.4px;
    background-color: #ffee00;
}
.nav-bar{
    width: 100%;
    margin-left: 103px;
}
.navbar-item{
    margin-right: 58px;
    font-size: 14px;
    color: #FFEE00;
    font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  word-wrap: none;
   
}
.space-item{
    font-size: 14px;
    margin-left: 40px;
    color: #072D3B;
    font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  word-wrap: none;
}
.logo{
    width: 73px;
    height: 74px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
   z-index: 1;
}
.top-left{
    display: flex;
    width: 62%;
    margin: 0 0 0 103px;
}

.menu{
    display: none;
    margin-right: 117px;
}
.menu-bar{
    padding-top: 81px;
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.4);
    background-color: #183441;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.menu-item{
    font-family: SegoeUI;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #ffee00;
    margin:24.5px 10px;
}
.menu-item span{
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.4);
}
.menu-bar-cont{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.menu-bar-background{
    width: 100%;
    height: 100%;
    z-index: -1;
}
.menu-bar-media{
    display: flex;
}
.statement-space-item{
    color: #ffee00;
}
@media only screen and (max-width: 1366px) {
    .nav-bar{
        margin-left: 75px;
    }
}
@media only screen and (max-width: 1280px) {
    .nav-bar{
        margin-left: 50px;
    }
    
}


@media only screen and (max-width: 1030px) {
    .video-section,.SectionFirst-bottomLeft-background,.nav-bar,.top-right{
        display: none;
    }
    .SectionFirst-center-background{
        z-index: 1;
    }
    .top{
        z-index: 10000000000000;
    }
    .logo{
        width: 62.6px;
        height: 63.5px;
        object-fit: contain;
    }
    .top-left{
        justify-content: flex-end;
        margin: 0;
    }
    .menu{
        display: flex;
    }
    
    .menu-item{
        display: flex ;
        margin: 8.5px 17.1px;
    }
    .menu-bar{
        padding-top: 81px;
        box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.4);
        background-color: #183441;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        right: 76px;
        width: 218px;
        height: 280px;
        z-index: 1;
    }
    
}
@media only screen and (max-width: 664px){
    .menu{
        margin-right: 50px;
    }
    .menu-bar{
        right: 50px;
    }
    
}
@media only screen and (max-width: 425px) {
    .logo{
        width: 33.7px;
        height: 34.2px;
        margin: 0 0 0 36px;
    }
    .menu-bar{
        right: 0;
        width: 78%;
        height: 50%;
    } 
    .menu{
        margin-right: 48px;
    }
    .menu-item {
        font-size: 12px;
       
    }
    .search-top {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        margin-right: 10px;
        height: 40px;
    }
    .search-icon{
        width: 40px;
    }
    .button-registration{
        padding: 10px 42px;
    }
    .search-top input{
        padding-left: 5px;
        
    }
    .top-search-icon {
        padding: 7.6px 10.4px;
    }
    
}
