.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin-top: 180px;*/
}

.SectionFirst{
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -103px;
    background-color: #072D3B;
}
.center{
    position: relative;
    margin: 144px 0 0 122px;
    width: 40%;
    z-index: 1;
}
.SectionFirst-center-heading{
    font-size: 42px;
    line-height: 56px;
    
}
.SectionFirst-center-text{
    font-size: 18px;
    line-height: 24px;
    margin: 29px 0 58px 0;
}
button{
    padding: 18px 87px;
    border: 0;
    background-color: #FFEE00;
    color: #072D3B;
    font-size: 24px;
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.4);
}
.about-reagistration{
    margin-top: 32px;
    width:260px;
}
.button-registration{
    position: absolute;
   top:936px;
    left: 90px;
}
.opasity{
    height: 746px;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 39, 61, 0.712);
}
.SectionFirst-center-background{
    height: 520px;
    width: 75%;
    background-image: url("../img/header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 10%;
    -webkit-box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.75);
}
.SectionFirst-top-right-background{
    position: absolute;
    top: 0;
    right: 0;
    height: 438px;
    width: 533px;
    background-color: #FFEE00;
    -webkit-box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.75);
   

}
.SectionFirst-bottomLeft-background{
    width: 950px;
    height: 417px;
    background-image: url("../img/teamwork.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 494px;
    left: 40px;
    z-index: 1;
    transition: 0.5s;
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.61);
}
.video-section{
    width:  100%;
}
.video-cont{
    position: absolute;
    top: 83px;
    right: 10%;
    z-index: 1;
    height: 750px;
}
.video{
    width: 505px;
    height: 722px;
    background-image: url("../img/tes_careers_essential_tips_supply_teacher.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1000000000;
    transition: 0.5s;
    position: relative;
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.61);
}
.yellow{
    width: 355px;
    height: 168px;
    background-color: #FFEE00;
    position: absolute;
    bottom: -96px;
    right: 245px;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    -webkit-box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.75);
}
.video-click{
    width:152px ;
    height:152px  ;
    border-radius: 50%;
    background-color: rgb(225, 225, 225, 0.7) ;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 80px;
    left: -70px;
    transition: 0.5s;
}
.round{
    width:94px ;
    height:94px  ;
    opacity: 1;
    border-radius: 50%;
    background-color: #FFFFFF;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #FFEE00;
}
.arrow-video{
    margin: auto;
    transition: 0.5s;
}
.arrow-video-rotate{
    transform: rotateY(180deg);
    transition: 0.5s;
}
.line-arrow{
    display: flex;
    align-items: center;
}
.line{
    width:1px ;
    height:80px ;
    background-color: #072D3B;
    margin: 0 50px 10px 50px;
}
.arrow{
    width:35px ;
    height:35px ;
    margin: 30px 0;
    object-fit: contain;
   /* box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);*/
}
.largeVideo{
   
    transition: 0.5s;
    width: 1400px;
    height: 722px;
    background-image: url("../img/tes_careers_essential_tips_supply_teacher.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 9000000000;
}
.largeVideo .video-click{
    left: -71px;
    top:61px;
}

.section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-heading{
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    width: 80%;
}
.heading{
    font-size: 42px;
    line-height: 56px;
    font-weight: bold;
    color: #FFEE00;
    margin-right: 33px;
}
.section-line{
   flex: 1;
   height: 6px;
   background-color: #FFEE00;
   margin-top: 47px;
}
.section-about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 80px 0 16px 0;
    width: 80%;
}
.statement-button{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 89px;
    width: 80%;
}
.about-left{
    width: 33%;
    margin-right: 16px;
}
.about-text{
    font-size: 18px;
    line-height: 24px;
}
.about-right{
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
}
.pictures{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 1;
}
.about-picture{
    right: 0;
    width: calc( 100% - 120px);
    height: 612px;
    padding: 60px;
    /*background-image: url('../img/maestros.jpeg');*/
    background-color: #FFEE00;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 27px;
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.8);
    z-index: 1;
}
.about-image{
    width: 100%;
    height: 612px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.images{
    position: relative;
    margin: 0 10px;
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.8);
    width: 316px;
    height: 183px;
    z-index: 1;
}
.about-images{
    display: flex;
   justify-content: space-between;
   width: 100%;
}
.image-opasity{
    position: absolute;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 39, 61, 0.712);
}
.about-images img{
    width: 100%;
    height: 100%;
}
.about-yellow{
position: absolute;
bottom:-74px;
left: -123px;
background-color: #FFEE00;
width: 451px;
height: 352px;
-webkit-box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.75);
box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.75);
}
.sectionteacher{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.sectionteacher .section-heading{
    width: 80%;
}
.section-teacher{
    width: 80%;
   
}
.teacher-yellow-left{
    width: 615px;
    height: 356px;
    background-color: #FFEE00;
    position: absolute;
    left:0;
    top: 200px;
    -webkit-box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.75);
box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.75);
}
.teacher-yellow-right{
    width: 579px;
    height: 470px;
    background-color: #FFEE00;
    position: absolute;
    right: 0;
    top: 172px;
    -webkit-box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.75);
box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.75);
}
.button-slide{
    position: absolute;
    top: 190px;
    right: 85px;
    background-color: #072D3B;
    color: #FFEE00;
}
.button-header{
    background-color: #072D3B;
    color: #FFEE00;
}
.teacher-cont{
    overflow: hidden;
    width: 80vw;
    height: 420px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: 40px 0 99px 0;
    z-index: 1;
}
.teacher-item{
    padding: 20px;
    width: calc( 90% - 40px);
    margin-left: 5%;
    background-color: white;
    color: #072D3B;
    z-index: 1;
    /* height: 130px; */
    -webkit-box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.75);
}
.teacher-item img{
    width:100% ;
    height: 250px;
    -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.75);
}

.school-name{
color: rgb(121, 173, 68);
height: 40px;
}
.subject-name{
    margin-top:10px;
    height: 40px;
}
.teacher-item-date{
    margin-top: 14px;
}
.arrow-line{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
   width: 150px;
}
.about-yellow .line{
    width: 50% ;
    height:1px ;
    background-color: #072D3B;
    margin: 0 50px 10px 50px;
}
.about-yellow .arrow{
    width:35px ;
    height:35px ;
}
.teacher-yellow-left .line-arrow{
    display: flex;
    height: 150px;
    margin-right: 61px;
   
}
.teacher-yellow-left{
    display: flex;
    justify-content: flex-end;
}
.images:hover{
    box-shadow: 15px 25px 88px 25px rgba(0,0,0,0.75);
    transform: translate(0 ,-10px);
    transition: 0.5s;
}
.button-line{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: #072D3B;
    margin-top: 20px;
}

@media only screen and (max-width: 1700px) {
    .images{
        width: 224px;
        height: 125.8px;
        margin: 0;
    }
}
@media only screen and (max-width: 1638px) {
    .largeVideo{
        width: 1300px;
    }
}
@media only screen and (max-width: 1533px) {
    .largeVideo{
        width: 1090px;
    }
}
@media only screen and (max-width: 1326px) {
    .largeVideo{
        width: 800px;
    }
}
@media only screen and (max-width: 1366px) {
    .SectionFirst{
        height: 636px;
    }
    .video{
        width: 368px;
       height: 526px;
    }
    .largeVideo{
        width: 1038px;
        height: 526px;
    }
    .video-cont {
        top: 83px;
        height: 545px;
    }
    .yellow {
        width: 271.8px;
        height: 127.3px;
        bottom: -85px;
        right: 161px;
        box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.75);
        transition: 0.5s;
    }
    .SectionFirst-bottomLeft-background{
        width: 617px;
        height: 297px;
        top: 357px;
        transition: 0.5s;
    }
    .SectionFirst-center-background{
        height: 549px;
        width: 72%;
    }
    .opasity{
        height: 549px;
    }
    .SectionFirst-top-right-background{
        height: 403px;
        width: 306px;
    }
    .center{
        margin: 144px 0 0 65px;
    }
    .section-line{
        margin-top: 40px;
    }
    .about-yellow {
        width: 222px;
        height: 188px;
        bottom: 5px;
    }
    .about-picture{
        width:calc( 100% - 40px);
        height: 353px;
        padding: 20px;
    }
    .about-image{
        width: 100%;
        height: 353px;
    }
    button{
        padding: 11px 77px;
        box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.4);
    }
    .button-registration {
        position: absolute;
        top: 676px;
        left: 5px;
    }
    .heading {
        font-size: 30px;
        margin-right: 21px;
    }
    .statement-button {
        margin-top: 40px;
    }
    .section-about {
        margin: 22px 0 16px 0;
    }
    
    .SectionFirst-center-heading {
        font-size: 36px;
  line-height: 1.33;
    }
    .SectionFirst-center-text {
        font-size: 12px;
        font-weight: 300;
        line-height: 1.33;
        margin-top: 17px;
    }
    .teacher-yellow-left {
        width: 413.1px;
        height: 239.1px;
        background-color: #FFEE00;
    }
    .teacher-cont {
        margin: 183px 0 36px 0;
    height: 247px;
    }
    .teacher-yellow-right {
        width: 520px;
        height: 422px;
        top: 190px;
    
    }
    .button-slide{
        top: 205px;
    }
    .arrow {
        width: 23px;
        height: 23px;
        margin: 30px 0;
    }
    .teacher-cont {
        margin: 183px 0 36px 0;
    height: 247px;
    }
    
}
@media only screen and (max-width: 1280px){
    .largeVideo{
        width: 956px;
        height: 526px;
    }
    .SectionFirst-bottomLeft-background{
        top: 410px;
    }
    .button-registration{
        top: 722px;
    }
    .about-images{
        justify-content: space-between;
    }
    .images {
        width: 196px;
        height: 113.8px;
    }
}
@media only screen and (max-width: 1230px){
    .largeVideo{
        width: 800px;
    }
}
@media only screen and (max-width: 1132px) {
    .center{
        margin: 144px 0 0 62px;
    }
}

@media only screen and (max-width: 1030px) {
    .video-section,.SectionFirst-bottomLeft-background,.top-right{
        display: none;
    }
    .SectionFirst-center-background{
        width: 70%;
    }
    .top{
        align-items: flex-start;
    }
    .SectionFirst-center-background,.opasity{
        z-index: 1;
        height: 298px;
        object-fit: contain;
    }
    .center{
        z-index: 1000000;
        margin: 92px 0 0 62px;
        width: 60%;
    }
    .SectionFirst-center-text{
        font-family: SegoeUI;
        font-size: 12px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.33;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        margin-top: 21px;
    }
    .SectionFirst-center-heading{
        font-family: SegoeUI;
        font-size: 20px;
        line-height: 1.35;
        color: #ffffff;
        width: 78%;
    }
    .button-registration {
        padding: 11px 41px;
        object-fit: contain;
        top: 273px;
        left: -78px;
        z-index: 100;
        font-size: 18px;
    }
    .about-reagistration{
        font-size: 18px; 
        width: 225px;
      
    }
    button{
        padding: 11px 41px;
        font-size: 18px; 
    }
    .heading{
        font-size: 20px;
    }
    .section-line {
        margin-top: 35px;
    }
    
    .section-about{
        flex-direction: column-reverse;
    }
    .about-left{
        margin-top: 12px;
        margin-right: 0;
    }
    .about-right {
        justify-content: flex-end;
      
    }
    .about-left,.about-right{
        width: 100%;
    }
    .about-picture {
        width: 80%;
        height: 353px;
        margin-bottom: 4px;
        z-index: 1;
    }
    .about-images {
        width: 100%;
        z-index: 1;
    }
    
    .about-yellow{
        bottom: 124px;
        left: 0px;
        width: 167.6px;
        height: 165.7px;
    }
    .teacher-yellow-left {
        width: 220px;
        height: 239.1px;
        left: 0;
        top: 140px;
    }
    .teacher-yellow-right {
        width: 395px;
        height: 458px;
        top: 119px;
       
    }
    .button-slide {
        top: 142px;
    }
    .SectionFirst {
        height: 270px;
    }
    .images {
        margin: 0 2.45px;
        width: 33%;
        height: 116px;
    }
    .section-heading {
        margin-top: 36px;
        font-size: 20px;
        font-weight: bold;
        line-height: 1.35;
    }
    .teacher-cont {
        margin: 119px 0 99px 0;
    }
    .teacher-yellow-left .line{
        width: 1px;
        height: 45px;
        background-color: #072D3B;
        margin: 0 24px 10px 24px;
    }
    
    .teacher-yellow-left .line-arrow {
        height: 75px;
        margin-right: 40px;
    }
    .arrow-line {
        width: 65%;
    }
    .about-yellow .line {
        width: 70%;
        height: 1px;
        background-color: #072D3B;
        margin: 13px 50px 13px 50px;
    }
    .about-yellow .arrow {
        margin:0 30px;
        margin: 0;
        width: 20.6px;
        height: 20.6px;
    }
    .menu{
        margin-right: 37px;
    }
}
@media only screen and (max-width: 664px){
    .SectionFirst-center-background,.top{
        width: 80%;
    }
    .center{
        width: 50%;
        margin-top: 150px;
    }
    .teacher-item {
        height: 154px;
    }
    .SectionFirst-center-text{
        display: none;
    }
    .button-registration{
        left: 28px;
    }
    .SectionFirst-center-heading{
        width: 100%;
    }
    .teacher-yellow-left {
        width: 166px;
        height: 176.1px;
    }
    .teacher-yellow-right{
        width: 200px;
        height: 366px;
        top: 112px;
    }
    .button-slide{
        top: 159px;
        right: 55px;
        padding: 10px 15px;
        font-size: 14px;

    }
    .teacher-cont {
        margin: 119px 0 0 0;
    }
}
@media only screen and (max-width: 425px) {
    .SectionFirst-center-background,.opasity{
        height: 173.5px;
    }
    .center{
        z-index: 1000000;
        margin-top: 92px;
    }
    .SectionFirst-center-text{
        display: none;
    }
    .SectionFirst-center-heading{
        font-size: 16px;
    }
    .logo{
        width: 33.7px;
        height: 34.2px;
        margin: 0 0 0 0;
    }
    .menu{
        width: 16px;
        height: 16px;
        margin-right: 25px;
    }
    button,.about-reagistration{
        padding: 10px 49px;
        font-size: 14px;
        font-weight: 300;
    }
    .about-reagistration {
        width: 163px;
    }
    .button-line{
        margin-top: 0;
    }
    .SectionFirst-top-right-background{
        width: 115px;
        height: 185px;
        right: 0;
        object-fit: contain;
        box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.7);
    }
    .button-registration{
        padding: 10px 49px;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.36;
        top: 157px;
        left: 21px;
    }
    .heading {
        font-size: 14px;
    }
    .SectionFirst {
        height: 71px;
    }
    .section-line {
        flex: 1 1;
        height: 3px;
        background-color: #FFEE00;
        margin-top: 35px;
    }
    .about-image{
        height: 196px;
    }
    .about-images{
        width: 80%;
        justify-content: space-between;
    }
    .images {
        width: 76.7px;
        height: 44.4px;
    }
    .arrow-line{
        width: 50%;
    }
    .about-picture{
        height: 196px;
    }
    .about-yellow {
        width: 112.6px;
        height: 123.2px;
        top: 109px;
        left: 5px;
    }
    .about-yellow .line{
        margin: 8px 0 9.2px 0px;

    }
    .teacher-yellow-right{
        width: 164px;
        height: 346px;
    }
    .button-slide {
        top: 159px;
        right: 22px;
        padding: 10px 15px;
        font-size: 14px;
    }
}

