.registration{
    height: calc( 100vh - 130px);
    z-index: 100000000000;
    position: fixed;
    background-color: #FFFFFF;
    color: #76909A;
    top: 65px;
    left: 140px;
    right: 140px;  
    height: 83vh;
    overflow: auto;  
}
.error {
	position:absolute;
	top: 70px; 
    font-size: 12px;
    margin-left: 0px;
    height: 10px;
    color: red;
}
.registration-inside{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    z-index: 1;
}
.pop-up{
    position: absolute;
    top: 0vh;
    bottom: -177vh;
    left: 0;
    right: 0;
    background-color: #000000;
    opacity: 0.5;
    z-index: 2;
}

.close{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.fa-remove{
    margin: 10px 10px 0 0;
    font-size: 20px;
    font-weight: 200px;
}
.inputs,.subject-community{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.inputs{
    margin-top: 46px;
}
label span,.label-span{
    line-height: 24px;
    font-size: 18px;
    font-weight: bold;
    margin-left: 10px;
}
.blue-round{
    width: 10px;
    height: 10px;
    background-color: #072d3b;
    border-radius: 50%;
    margin-right: 5px;
}
.select-item span{
    width: 200px;
    white-space: nowrap; 
  overflow: hidden;
    text-overflow: ellipsis
}
.select-item{
    display: flex;
    align-items: center;
    margin-bottom: 9.3px;
}
.deni-react-treeview-item-container .icon-and-text .text .text-inner{
    width: 350px;
    white-space: nowrap; 
    overflow: hidden;
      text-overflow: ellipsis
}
input, select{
    height: 40px;
    border: 2px solid #072D3B;
    margin: 6px 0 9px 0;
    padding-left: 10px;
    border-radius: 4px;
}
.input-item{
	position: relative;
    width:calc( 40% - 10px ) ;
    display: flex;
    flex-direction: column;
}
.input-item input {
	margin-bottom: 15px;
}
.teacher-director{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #072d3b;
    font-weight: bold;
}
.teacher-director-item{
    width: 40%;
    margin: 10px;
    font-size: 15px; 
}
.director{
    font-size: 15px; 
}
.yellow-line{
    background-color: #FFEE00;
    height: 2px;
    width: 100%;
    margin-top: 10px;
}
.item-line{
   background-color: #76909A;
    height: 2px;
    margin-top: 10px;
    width: 100%;
}
.subject-community{
    margin-top: 26px;
}
.deni-react-treeview-container{
    width: 100% !important;
}
.item-inside{
    display: flex;
    justify-content: space-between;
}
.item-inside-item{
    display: flex;
    align-items: center;
    align-items: center;
    color: #072D3B;
    font-weight: bold;
    line-height: 27px;
    margin-top: 10px;
}
.item-inside-item:nth-child(1){
    margin-right: 10px;
}
.checkbox{
    width: 23px;
    height: 23px;
    margin-right: 18px;  
    border: 1px solid #000000;
}
.container {
    display: flex;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  .checkmark {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border: 3px solid #000000;
  }
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .container input:checked ~ .checkmark {
    background-color: #000000;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  .container .checkmark:after {
  
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.checkbox-section{
    width: 100%;
    margin-top: 14px;
}
.checkbox-section-heading{
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 27px;
    font-weight: bold;
    color: #072D3B;  
}
.checkbox-section-heading span{
    flex: 1
}
.tree-button{
  width: 70%;
  margin-top:10px;
}


.checkbox-round .fa-plus{
    transition: all 0.2s;
  }
.checkbox-round:hover{
    background-color: #FFEE00;
}
.checkbox-round:hover .fa-plus{
    transition: all 0.5s;
    color: #FFFFFF
}
.checkbox-round{
    transition: all 0.2s;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #FFEE00;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.fa-plus{
    color: #072D3B;
  font-size: 20px;
  
}
.checkox-cont{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:0;
    bottom:0;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0%);
    width: 700px;
    /*padding: 30px 53px;*/
    background-color: #FFFFFF;
    z-index: 1;
    
}

.checkbox-inside{
    display: flex;
    flex-direction: column;
    border:1px solid #072D3B;
    margin: auto;
    margin-top: 30px;
}
.checkboxs{
   margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 95%;
    overflow: auto;
    
}
.checkbox-button,.tree-button{
    width: 300px;
    margin: 40px;
}
.deni-react-treeview-item-container .icon-and-text .text .text-inner{
    width: 100%;
}
.checkboxs-item{
    width: 35%;
    margin: 15px 0;
    display: flex;
    font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #072d3b;
}
.checkboxs-item span{
white-space: nowrap; 
overflow: hidden;
text-overflow: ellipsis
}
.subject{
    display: flex;
}
.subject-round{
    width: 12px;
    height: 12px;
    object-fit: contain;
    background-color: #072d3b;
    border-radius: 50%;
}
.selected-subject{
font-family: SegoeUI;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #76909a;
}
.background{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0%;
    background-color: #000000;
    opacity: 0.5;
    
}
.textarea,.registration-bottom{
    width: 80%;
    display: flex;
    color: #072D3B;
    font-size: 20px;
    font-weight: bold;
    font-weight: 27px;
}
.deni-react-treeview-container.classic, .checkbox-inside{
    width: 80%  !important;
    height: 75%;
    margin-top: 10px;
    margin: auto;
    border-color: #072D3B !important;
}

textarea{
    border: 2px solid #072D3B;
    margin: 12.38px 0 18.94px 0;
    height: 178px;
    padding: 10px;
    border-radius: 4px;
}
.registration-bottom{
    flex-direction: row;
    align-items: center;
}
.textarea{
    flex-direction: column;
}
.bottom-button{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    margin: 22px 0 42.3px 0;
    
}
.bottom-button button{
    -webkit-box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.75);
    font-size: 25px;
    color: #072D3B;
    line-height: 33px;
    font-weight: 300px;
}

@media only screen and (max-width: 1366px) {
	.error{
		top:66px
	}
    label span,.label-span,.registration-bottom  {
        font-size: 12px;
        font-family: SegoeUI;
    }
    .checkox-cont{
        width: 429px;
    }
    label span,.label-span{
        line-height: 1.33;
    }
    .checkmark{
        width: 15.3px;
        height: 15.2px;
    }
    .checkbox-section-heading span{
        line-height: 1.36;
        margin: 0 37.1px 0 0;
    }
    .checkbox-section-heading span,.textarea{
        font-size: 14px;
    }
    .checkbox-round {
        width: 33.1px;
        height: 33.1px;
       
    }
    .item-inside-item span{
        font-size: 13px;
    }
    .checkboxs-item{
        font-size: 12px;
        width: 40%;   
    }
    .subject-round{
        width: 10px;
        height: 10px;
    }
    .selected-subject{
      font-size: 12px;
    }
    .pop-up {
        bottom: -100vh;
    }
}
@media only screen and (max-width: 1280px){
    .registration{
        top: 85px;
        left: 80px;
        right: 80px;
    }
    .input-item {
        width: calc( 48% - 10px );
    }
}
@media only screen and (max-width: 1030px){
    .pop-up{
        bottom: -60vh;
    }
}
@media only screen and (max-width: 860px) {
    .registration {
        top: 10px;
        left: 37px;
        right: 37px;
        height: 95vh;
        overflow: auto;
    }
    .inputs{
        flex-direction: column;
    }
    .input-item {
        width:100%;
	}
	.error{
		top:55px;
	}
    .input-item input{
        height: 30px;
    }
    .checkbox-cont{
        width: 356.4px;
        height: 631px;
    }
    .background{
        right: 0;
        bottom: -70%;
    }
    .checkbox-button,.tree-button {
        width: 178px;
    }
}


@media only screen and (max-width: 670px){
    .checkox-cont{
        width: 323.4px;
        padding: 30px 5px;
        top:11px;
    }
}
@media only screen and (max-width: 665px){
    .pop-up{
        bottom: -50vh;
    }
}

@media only screen and (max-width: 614px) {
    .registration{
        top: 10px;
        left: 15px;
        right: 15px;
       
    }
    .bottom-button button{
        padding: 11px 56px;
    }
    .checkbox{
        width: 15.2px;
        height: 15.2px;
        object-fit: contain;
       /* background-color: #000000;*/
        margin-right: 15px;
    } 
  
    .checkox-cont{
        width: 323.4px;
        padding: 30px 5px;
        top:11px;
    }
    .checkboxs-item{
        width: 45%;
        display: flex;
        align-items: center;
    }

    .item-inside .container,.registration-bottom .container{
        padding-left: 30px;
    }
    .container{
        padding-left: 37px;
    }
}
@media only screen and (max-width: 425px) {
    .background{
        position: absolute;
       left: 0;
       right: 0;
    } 
    .pop-up {
        bottom: -8vh;
    }
}
@media only screen and (max-width: 425px) {
    
   
    .input-item {
        width: 100%;
    }
    .bottom-button button{
        font-size: 14px;
    }
    .checkbox{
        margin-right: 7px;
        
    }
    .checkbox-section-heading{
        justify-content: space-between;
    }
    .checkbox-section-heading span{
        font-size: 12px;
        margin: 0;
    }
    .item-inside-item span{
        font-size: 12px;
    }
    
}
@media only screen and (max-width: 350px){
    .checkox-cont {
        width: 290.4px;
        padding: 30px 5px;
    }
    .checkmark {
        width: 12.3px;
        height: 12.2px;
        border: 2px solid black;
    }
    .item-inside .container, .registration-bottom .container {
        padding-left: 20px;
    }
}

