.Statement{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.statement-button-link{
    padding: 18px 50px;
    display: flex;
    background-color: #ffee00;
    color: #072d3b;
    margin-right: 16px;
}
.statement-button-link .arrow{
    margin: 0;
}
.Statement .space-item{
    color: #ffee00;
}
.NavBar-SearchLine-cont{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Statement-search-line{
    width: 62%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 49px 0 61px 0;
}
.Statement-search-line button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 18px 53px;
  object-fit: contain;
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.4);
  background-color: #ffee00;
  font-family: SegoeUI;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #072d3b;
  margin: 0 16px 0 0 ;
}
button .arrow{
    margin: 0;
}
.Statement-search-line .search{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    margin: 0;
    flex: 1;
    height: 73px;
}
.input-search{  
    width: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: 0.5s;
    box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.4);
    background-color: #284f5d;
    object-fit: contain;
  font-family: SegoeUI;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
}
.input-search-width{
    height: 100%;
    width: calc( 97% - 62px );
    padding-left: 62px;
    object-fit: contain;
    transition: 0.5s;
}
.search-icon{
    background-color: #ffee00;
    width: 77px;
    height: 100%;
  object-fit: contain;
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.4);
  background-color: #ffee00;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.statement-list{
    width:calc( 62% - 244px );
    padding: 61px 122px;
    background-color: white;
    color: #072d3b;
}
.StatementItem{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.StatementItem::after{
    content:'';
    width: 98%;
    height: 1px;
    background-color: #072d3b;
    margin: auto;
}
.statement-heading{
    font-family: SegoeUI;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: left;
}
.statement-item-button{
font-family: SegoeUI;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  color: #ffee00;
  object-fit: contain;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #072d3b;
  padding: 8px 25px;
  margin: 0;
  word-break: normal;
}
.statement-text-button{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin:2px 0 20px 0;
}
.Statement .space-item{
    font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: normal;
  text-align: left;
  /*color: #ffee00;*/
}
.statement-text{
    object-fit: contain;
    font-family: SegoeUI;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    margin-right: 5px;
}
.TextArea{
    width:  100%;
    display: flex;
    justify-content: center;
   
}
.statement-textarea li{
	margin-bottom: 20px;
}
.statement-textarea{
    width:calc( 62% - 244px );
    padding: 61px 122px;
    min-height: calc(100vh - 300px);
    background-color: white;
    color: #072d3b;
    margin: 50px 0 0 0 ;

}
@media only screen and (max-width: 1366px){
    .Statement-search-line{
        width: 80%;
        
    }
    .Statement-search-line .search{
        height: 61px;
    }
    .statement-list,.statement-textarea{
        width:calc( 80% - 244px );
    }
    
}
@media only screen and (max-width: 1030px){
    .Statement-search-line .search{
        height: 45px;
    }
    .search-icon img{
        width: 20px;
        height: 20px;
    }
    .search-icon{
        width: 45px;
    }
    .statement-button-link{
        font-size: 18px;
        font-weight: 300;
        padding: 10px 40px;
    }
}
@media only screen and (max-width: 1280px){
    .statement-text{
        font-size: 12px;
        line-height: 1.33;
        margin: 10px 0;
        font-size: 16px;
    }
    .statement-heading{
        font-size: 22px;
        line-height: 1.31;
        text-align: center;
        margin-bottom: 50px;
    }
    
}
@media only screen and (max-width: 1318px){
    .images{
        width: 32%;
    }
}
@media only screen and (max-width: 1030px){
    .statement-textarea{
        width: calc( 80% - 116px );
        padding: 50px 58px;
    }
}
@media only screen and (max-width: 768px){
    .statement-list {
        width: calc( 80% - 116px );
        padding: 50px 58px;
    }
    .input-search-width {
        padding-left: 20px;
    }
}
@media only screen and (max-width: 425px) {
    .statement-text-button{
        flex-direction: column;

    }
    .statement-list,.statement-textarea{
        padding:13px 16px;
        width: calc( 80% - 26px );
    }
    .Statement-search-line button{
        padding: 8px 13px;
        font-size: 18px;
    }
    .statement-item-button{
        
    }
    .statement-text{
        margin: 2px 0 14px 0;

    }
    .search-icon{
        width: 40px;
        height: 40px;
        object-fit: contain;
        box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.4);
    }
    .search-icon img{
        width: 20px;
        height: 20px;
    }
    .Statement-search-line .search{
        display: none;
    }
    .statement-button-link{
        padding: 8.4px 13.8px;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.36;
        top: 157px;
        left: 21px;
    }
    .statement-button-link .arrow{
        margin-right: 20px;
    }
   
}

