.teacherAccount{
    margin-top:15px; 
    width: 88%;
    background-color: white;
    height: calc( 100vh - 108px);
}
.teacherAccount span,.token,.close{
    color: #072D3B;
}
.token{
    display: flex;
    justify-content: center;
}
.teacherAccount .checkox-cont{
    top: 119px;
    bottom: 65px;
}
input[type=number].react-inputs-validation__textbox__input___20hDL, input[type=password].react-inputs-validation__textbox__input___20hDL, input[type=phone].react-inputs-validation__textbox__input___20hDL, input[type=text].react-inputs-validation__textbox__input___20hDL{
    border: 2px solid #072D3B !important;
    margin:6px 0 9px 0 !important;
}
.input-invalid{
    color: red !important;
    margin-bottom: 5px;
    position: absolute;
    top: 70px;
    font-size: 12px;
}
@media only screen and (max-width: 860px){
.background {
    right: 0;
    bottom: -1%;
}}
@media only screen and (max-width: 425px){
.background {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1%;
}
.teacherAccount {
    margin-top: 15px;
    width: 88%;
    background-color: white;
    height: calc( 100vh - 84px);
}
}