.Container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #072D3B;
  color: white;
 
}
.menu,.button-registration,.statement-button-link,.about-picture,.images,.arrow,.video-click{
  cursor: pointer;
}
a{
  text-decoration: none;
  color: #FFEE00;
}
@media only screen and (max-width: 305px){
  .Container{
    min-width: 305px
  }
}